{% extends "layout.njk" %}

{% block pagina %}
	<h1>Musicas da minha Playlist</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Artista</th>
				<th>Estrelas</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>DRAKE</td>
				<td>GOD'S PLAN</td>
				<td>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</td>
				<td>
					<a href="#" class="btn btn-primary">Editar</a>
					<a href="#" class="btn btn-danger">Excluir</a>
				</td>
			</tr>

		{% for musica in musicas %}
			<tr>
				<td>{{musica.id}}</td>
				<td>{{musica.home}}</td>
				<td>{{musica.artista}}</td>
				<td>
					{% for i in range(0,musicas.estrelas) %}
						<span class="glyphicon glyphicon-star"></span>
					{% endfor %}
				</td>
				<td>
					<a href="/edit/{{musica.id}}" class="btn btn-primary">Editar</a>
					<a href="/delete/{{musica.id}}" class="btn btn-danger">Excluir</a>
				

				</td>

			</tr>	
		{% endfor %}
		</tbody>
	</table>


{% endblock %}